<header>
    <h1 class="filtre">Interface d'administration</h1>
    <nav class="nav_header filtre">
        <a href="{{ path('provider_product_index') }}"><i class="fa fa-shopping-bag"></i> Produits</a>
        <a href="{{ path('provider_brand_index') }}"><i class="fa fa-copyright"></i> Mes marques</a>
        {# <a href="{{ path('category_index') }}"><i class="fa fa-file-image-o"></i> Catégories</a> #}
        <a href="{{ path('home') }}"><i class="fa fa-home"></i> Accueil</a>
        <a href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i> Se déconnecter</a>
    </nav>
</header>
