{% extends 'base.html.twig' %}

{% block title %}Hello ProductListController!{% endblock %}

{% block body %}
{# on créé un menu des catégorie #}
{% for category in categoryListTwig %}
<a href="{{ path('product_list_by_category',{'id':category.id}) }}">{{ category.libelle }}</a>
{% endfor %}
<a href="{{ path('product_list') }}">Retour vers la liste des produits</a>


{# on affiche la liste des produits reçus #}
{% for product in productListTwig %}
<div  class="product_excerpt">
    <a href="{{ path('product_single',{'id':product.id}) }}">
        <h3>{{ product.name }}</h3>
        <p>Description : {{ product.description }}</p>
        <p>Prix : {{ product.price }}</p>
        <p>Marque : {{ product.brand.libelle}}</p>
    </a>
</div>
{% endfor %}

{% endblock %}
