{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<h1>Liste des produits</h1>
<navbar>
    {% for category in categoryList %}
    <a href="{{ path('product_list_bycategory', {'id':category.id}) }}" class="navbar_link">{{ category.libelle }}</a>
    {% endfor %}
    <a href="{{ path('product_list') }}" class="navbar_link">tous les produits</a>
    <a href="{{ path('home') }}" class="navbar_link">accueil</a>
</navbar>


<div class="product_excerpt">
    <h3>{{ product.name }}</h3>
    <p>Stock : {{ product.stock }}</p>
    <p>Prix HT : {{ (1-(product.tva /100)) * product.price }}</p>
    <p>Remise : {{ product.remise }}</p>
    <p>Message aux clients : {{ product.message }}</p>
    {#<p>Catégorie : {{ product.category }}</p>
    <p>Marque : {{ product.brand }}</p>
    <p>Fournisseur : {{ product.provider }}</p>#}
    <p>Prix TTC : {{ product.price }}</p>
    <p>Prix Remisé : {{ product.price * (1-(product.remise /100)) }}</p>
</div>
{% endblock %}
